* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: skyblue;
}
header {
  padding: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./assests/background/cool-background.jpg");
}
header h1 {
  font-size: 45px;
}
header nav {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 18px;
  padding-top: 20px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.50vw;
  color: black;
}
.introvert {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


